<a href="https://colab.research.google.com/github/stacykeago/Evidence-Action-repository/blob/main/Evidence_Action.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# DATA CLEANING

## Import libraries

In [81]:
# Import libraries
import numpy as np
import pandas as pd

## Load Datasets

In [82]:
# load the dataset
mock= pd.read_excel("/content/MOCK_DATA.xlsx")
mock.head()

,ID,Wpt_Name,County,Subcounty,Gender,IP_Adress,Barcode,dispenser_install_year,program
0,341-074-EH498,Aufderhar-Bins,Fenshui,NaN,Bigender,99-35-53-139,42283-004,1993.0,Kibuku 1
1,562-184-QY233,Von-Kuhn,Chengyang,Qilin,Female,99-220-88-86,45802-132,1998.0,Kibuku 2
2,242-833-HC888,Leannon LLC,Kista,ItajuÃ­pe,Polygender,99-158-200-170,59676-562,1996.0,Kibuku 3
3,773-513-LI203,"Prohaska, VonRueden and Franecki",Hexi,Portumna,Male,99-131-237-138,49035-154,1992.0,Kibuku 4
4,933-270-VD590,McClure and Sons,Carvalho,DziÄ™gielÃ³w,Female,98-86-173-226,55154-4727,2008.0,Kibuku 2

In [83]:
mock.columns

Index(['ID', 'Wpt_Name', 'County', 'Subcounty', 'Gender', 'IP_Adress',
       'Barcode', 'dispenser_install_year', 'program'],
      dtype='object')

# 2. Change the font case for all text variables data to small i.e small letter

In [84]:
# Change all  non-numerical data to lowercase
#small_caps= ['ID', 'Wpt_Name', 'County', 'Subcounty', 'Gender',  'program']]
mock['ID']= mock['ID'].str.lower()
mock['Wpt_Name']= mock['Wpt_Name'].str.lower()
mock['County']= mock['County'].str.lower()
mock['Subcounty']= mock['Subcounty'].str.lower()
mock['Gender']= mock['Gender'].str.lower()
mock['program']= mock['program'].str.lower()

In [85]:
mock.head()

,ID,Wpt_Name,County,Subcounty,Gender,IP_Adress,Barcode,dispenser_install_year,program
0,341-074-eh498,aufderhar-bins,fenshui,NaN,bigender,99-35-53-139,42283-004,1993.0,kibuku 1
1,562-184-qy233,von-kuhn,chengyang,qilin,female,99-220-88-86,45802-132,1998.0,kibuku 2
2,242-833-hc888,leannon llc,kista,itajuã­pe,polygender,99-158-200-170,59676-562,1996.0,kibuku 3
3,773-513-li203,"prohaska, vonrueden and franecki",hexi,portumna,male,99-131-237-138,49035-154,1992.0,kibuku 4
4,933-270-vd590,mcclure and sons,carvalho,dziä™gielã³w,female,98-86-173-226,55154-4727,2008.0,kibuku 2

# 3. Drop observations that are missing data for id and Barcode

In [86]:
# Drop null values from "Barcode" column
mock1 = mock[mock[ 'Barcode'].notna()]
mock1.isnull().sum()

ID                        31
Wpt_Name                   0
County                     0
Subcounty                 98
Gender                     0
IP_Adress                  0
Barcode                    0
dispenser_install_year     0
program                    0
dtype: int64

In [87]:
# Drop null values from "ID" column
mock2 = mock1[mock1[ 'ID'].notna()]
mock2.isnull().sum()

ID                         0
Wpt_Name                   0
County                     0
Subcounty                 92
Gender                     0
IP_Adress                  0
Barcode                    0
dispenser_install_year     0
program                    0
dtype: int64

# 4. Calculate the mean and median years a dispenser has been installed at the waterpoint for the  remaining waterpoints (variable: dispenser_install_year)

## Mean

In [88]:

mock["dispenser_install_year"].mean()

2000.361497326203

## Median

In [89]:
mock["dispenser_install_year"].median()

2002.0

# 5. Ensure that the separators for the id, address and barcode is a hyphen (-)

In [90]:
mock.head()

,ID,Wpt_Name,County,Subcounty,Gender,IP_Adress,Barcode,dispenser_install_year,program
0,341-074-eh498,aufderhar-bins,fenshui,NaN,bigender,99-35-53-139,42283-004,1993.0,kibuku 1
1,562-184-qy233,von-kuhn,chengyang,qilin,female,99-220-88-86,45802-132,1998.0,kibuku 2
2,242-833-hc888,leannon llc,kista,itajuã­pe,polygender,99-158-200-170,59676-562,1996.0,kibuku 3
3,773-513-li203,"prohaska, vonrueden and franecki",hexi,portumna,male,99-131-237-138,49035-154,1992.0,kibuku 4
4,933-270-vd590,mcclure and sons,carvalho,dziä™gielã³w,female,98-86-173-226,55154-4727,2008.0,kibuku 2

# 6. Split the ID variable into 3 parts (county_code, subcounty_code, wpt_code) using the hyphen as  the separator.

# 7. Clean the gender variable and report the proportion of male respondent (variable: gender)

## Types of unique values in Gender column.

In [91]:
# Get the unique items in the 'Gender' column
unique_items=mock.Gender.unique()
unique_items

array(['bigender', 'female', 'polygender', 'male', 'non-binary',
       'agender', 'genderqueer', 'genderfluid'], dtype=object)

## Number of unique values in Gender column.

In [92]:
# Get the value counts for the unique items in the Gender column
mock.Gender.nunique()

8

## Male count in Gender column.

In [93]:
# The value count for the male in Gender column
mock['Gender'].value_counts().male

136

# 8. Clean the program variable by removing unnecessary words and spaces

In [97]:
# Remove any  spaces in the values in Program column.
mock.program = mock.program.str.replace(' ', '')

In [98]:
mock.head()

,ID,Wpt_Name,County,Subcounty,Gender,IP_Adress,Barcode,dispenser_install_year,program
0,341-074-eh498,aufderhar-bins,fenshui,NaN,bigender,99-35-53-139,42283-004,1993.0,kibuku1
1,562-184-qy233,von-kuhn,chengyang,qilin,female,99-220-88-86,45802-132,1998.0,kibuku2
2,242-833-hc888,leannon llc,kista,itajuã­pe,polygender,99-158-200-170,59676-562,1996.0,kibuku3
3,773-513-li203,"prohaska, vonrueden and franecki",hexi,portumna,male,99-131-237-138,49035-154,1992.0,kibuku4
4,933-270-vd590,mcclure and sons,carvalho,dziä™gielã³w,female,98-86-173-226,55154-4727,2008.0,kibuku2

# 9. Change the font case for program variable to proper (capitalize the first letter)

In [101]:
# Change variables in Program column to title case
mock['program']= mock['program'].str.title()

In [102]:
mock.head()

,ID,Wpt_Name,County,Subcounty,Gender,IP_Adress,Barcode,dispenser_install_year,program
0,341-074-eh498,aufderhar-bins,fenshui,NaN,bigender,99-35-53-139,42283-004,1993.0,Kibuku1
1,562-184-qy233,von-kuhn,chengyang,qilin,female,99-220-88-86,45802-132,1998.0,Kibuku2
2,242-833-hc888,leannon llc,kista,itajuã­pe,polygender,99-158-200-170,59676-562,1996.0,Kibuku3
3,773-513-li203,"prohaska, vonrueden and franecki",hexi,portumna,male,99-131-237-138,49035-154,1992.0,Kibuku4
4,933-270-vd590,mcclure and sons,carvalho,dziä™gielã³w,female,98-86-173-226,55154-4727,2008.0,Kibuku2

# 10. Combine Kibuku 1 to Kibuku 4 in program variable into Kibuku

In [112]:
mock.columns

Index(['ID', 'Wpt_Name', 'County', 'Subcounty', 'Gender', 'IP_Adress',
       'Barcode', 'dispenser_install_year', 'program'],
      dtype='object')

In [117]:
#replace Kibuku1 as Kibuku4
mock['program'] = mock['program'].str.replace('Kibuku1', 'Kibuku4')

In [118]:
mock.head()

,ID,Wpt_Name,County,Subcounty,Gender,IP_Adress,Barcode,dispenser_install_year,program
0,341-074-eh498,aufderhar-bins,fenshui,NaN,bigender,99-35-53-139,42283-004,1993.0,Kibuku4
1,562-184-qy233,von-kuhn,chengyang,qilin,female,99-220-88-86,45802-132,1998.0,Kibuku2
2,242-833-hc888,leannon llc,kista,itajuã­pe,polygender,99-158-200-170,59676-562,1996.0,Kibuku3
3,773-513-li203,"prohaska, vonrueden and franecki",hexi,portumna,male,99-131-237-138,49035-154,1992.0,Kibuku4
4,933-270-vd590,mcclure and sons,carvalho,dziä™gielã³w,female,98-86-173-226,55154-4727,2008.0,Kibuku2